<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.AdmMapper">

    <select id="select" parameterType="String" resultType="adm">
        SELECT * FROM adm WHERE ID=#{id}
    </select>
<!--    id는 admMapper의 함수의 이름들이다-->
    <select id="selectall" resultType="adm">
        SELECT * FROM adm
    </select>
    <insert id="insert" parameterType="adm">
        INSERT INTO adm VALUES (#{id},#{pwd},#{lev})
    </insert>
    <update id="update" parameterType="adm">
        UPDATE adm SET lev=#{lev},pwd=#{pwd} WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM adm WHERE id=#{id}
    </delete>

</mapper>