<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.MarkerMapper">
    <select id="getloc" parameterType="String" resultType="marker">
        SELECT *
        FROM marker
        WHERE loc = UPPER(#{loc})
    </select>
    <select id="select" parameterType="Integer" resultType="marker">
        SELECT *
        FROM marker
        WHERE ID = #{id}
    </select>
    <select id="selectall" resultType="marker">
        SELECT *
        FROM marker
    </select>
    <insert id="insert" parameterType="marker">
        INSERT INTO marker
        VALUES (marker_seq.NEXTVAL, #{title}, #{target}, #{lat}, #{lng}, #{img}, #{loc})
    </insert>
    <update id="update" parameterType="marker">
        UPDATE marker
        SET title=#{title},
            target=#{target},
            lat=#{lat},
            lng=#{lng},
            img=#{img},
            loc=#{loc}
        WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE
        FROM marker
        WHERE ID = #{id}
    </delete>

</mapper>