<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.AdmMapper">

    <select id="select" parameterType="String" resultType="Adm">
        SELECT * FROM adm WHERE id=#{id}
    </select>
    <select id="selectall" resultType="Adm">
        SELECT * FROM adm
    </select>
    <insert id="insert" parameterType="Adm">
        INSERT INTO adm VALUES (#{id},#{pwd},#{lev})
    </insert>
    <update id="update" parameterType="Adm">
        UPDATE adm SET NAME=#{name},PWD=#{pwd} WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM adm WHERE id=#{id}
    </delete>

</mapper>