<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.ChartMapper">
    <select id="getMonthlyTotal" resultType="chart">
        <![CDATA[
        select to_char(s.rdate, 'MM') as month, c.gender as gender, sum(i.price) as total
        from sales s join cust c on s.cust_id = c.id
            join item i on s.item_id = i.id
        group by c.gender, to_char(s.rdate, 'MM')
        order by to_char(s.rdate, 'MM')]]>
    </select>
    <select id="getCateTotal" resultType="chart2">
        <![CDATA[
        select T.top_cate as topcate, sum(i.price) as total
        from sales s join item i on s.item_id = i.id
                     join(select i.id as id, cg.top_cate
                          from item i join category cg on i.cate_id = cg.id) T on s.item_id = T.id
        group by T.top_cate]]>
    </select>
    <select id="getAgeTotal" resultType="chart3">
        <![CDATA[select T.age, sum(i.price) as total
                 from sales s join item i on s.item_id = i.id
                              join (select id, trunc(age/10)*10 as age from cust) T on s.cust_id = T.id
                 group by T.age
                 order by 1]]>
    </select>

</mapper>